streamlit
langchain
langchain-community
langchain-text-splitters
sentence-transformers
pypdf
chromadb==0.4.24
protobuf==3.20.3
opentelemetry-api==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-exporter-otlp-proto-grpc==1.20.0
